<div class="flex col">
  <div class="th row">
    <div class="cell">Name</div>
    <div class="cell">Specialty</div>
    <div class="cell">Secret Address</div>
    <div class="cell">Phone</div>
    <div class="cell">IP Address</div>
  </div>
  <div *ngFor="let user of users | async" class="flex row">
    <div class="cell">
      <a [routerLink]="['/profile', user.uid]">{{ user.name }}</a>
    </div>
    <div class="cell">{{ user.specialty }}</div>
    <div class="cell">
      {{ user.address }} {{ user.city }} {{ user.state }}, {{ user.zip }}
    </div>
    <div class="cell">{{ user.phone }}</div>
    <div class="cell">{{ user.ip }}</div>
  </div>
</div>
