<div class="container">
  <form #form="ngForm" (submit)="onSubmit(form)" [class.loading]="loading">
    <div class="col-2">
      <div class="col">
        <label>First Name</label>
        <input type="text" name="firstName" placeholder="First Name" ngModel />
      </div>
      <div class="col">
        <label>Last Name</label>
        <input type="text" name="lastName" placeholder="Last Name" ngModel />
      </div>
    </div>
    <div class="col">
      <label>Email</label>
      <input type="email" name="email" placeholder="Email" ngModel />
    </div>
    <div class="col">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" ngModel />
    </div>
    <button type="submit">Sign Up</button>
  </form>
</div>
