<div class="container">
  <form>
    <div class="col-2">
      <div class="col">
        <label>First Name</label>
        <input type="text" name="firstName" placeholder="First Name" />
      </div>
      <div class="col">
        <label>Last Name</label>
        <input type="text" name="lastName" placeholder="Last Name" />
      </div>
    </div>
    <div class="col">
      <label>Email</label>
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div class="col">
      <label>Password</label>
      <input type="password" name="password" placeholder="Password" />
    </div>
    <button type="submit">Sign Up</button>
  </form>
</div>
