// .login-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   .login-card {
//     width: 450px;
//   }

//   .login.button {
//     float: right;
//   }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 0.5em 0;

  & > div {
    gap: 0 1em;
  }
}

[class^="col"] {
  display: flex;
  flex-direction: column;
}

.col {
  flex: 1;
}

button {
  margin-top: 2em;
}

@media only screen and (min-width: 601px) {
  .container {
    height: 100vh;
  }

  form {
    max-width: 400px;
  }

  .col-2 {
    flex-direction: row;
  }
}
